NAME="eth0"
DEVICE="{{ansible_default_ipv4.interface}}"
IPADDR="{{eth0_ip}}"
NETMASK="{{eth0_netmask}}"
GATEWAY="{{network_gateway}}"
HWADDR="{{eth0_mac_addr}}"
ONBOOT="yes"
NETBOOT="yes"
IPV6INIT="yes"
BOOTPROTO="none"
TYPE="Ethernet"
PROXY_METHOD="none"
BROWSER_ONLY="no"
DEFROUTE="yes"
IPV4_FAILURE_FATAL="no"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
